{% extends 'base.html.twig' %}

{% block title %}Producten index{% endblock %}

{% block body %}
    <h1>Producten index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Productnaam</th>
                <th>Prijs</th>
                <th>Productomschrijving</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producten in productens %}
            <tr>
                <td>{{ producten.id }}</td>
                <td>{{ producten.Productnaam }}</td>
                <td>{{ producten.Prijs }}</td>
                <td>{{ producten.Productomschrijving }}</td>
                <td>
                    <a href="{{ path('producten_show', {'id': producten.id}) }}">show</a>
                    <a href="{{ path('producten_edit', {'id': producten.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('producten_new') }}">Create new</a>
{% endblock %}
